cffi==1.15.1
defusedxml==0.7.1
IPTCInfo3==2.1.4
ninepatch==0.1.22
numpy==1.21.6
paho-mqtt==1.6.1
pi-heif==0.9.3
pi3d==2.49
picframe==2022.12.15
Pillow==9.4.0
pkg_resources==0.0.0
pycparser==2.21
PyYAML==6.0